
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@600;700&family=Space+Grotesk:wght@400;500&display=swap');
@import "tailwindcss";
@theme {
  --font-display: 'Syne', sans-serif;
  --font-body: 'Space Grotesk', sans-serif;
}

:root {
    --accent: #a21caf;
    --accent-light: #FBF7FC;
    --site-bg: #F8F7F4;
    --site-txt: #1C1C1A;
    --site-secondary-txt: #5A5A56;
}


body {
    background-color: var(--site-bg);
    color: var(--site-txt);
    font-family: var(--font-body);
}

h1, h2, h3, h4 {
    font-family: var(--font-display);
}

