@import "tailwindcss";

:root {
    --accent: #6b7280;
    --accent-light: #6b728033;
    --site-bg: #F8F7F4;
}


body {
    background-color: #F8F7F4;
    color: #1C1C1A;
    --secondary-color: #5A5A56;
}