@import "tailwindcss";

:root {
    --accent: #6B4226;
    --accent-light: #F2E8DF;
    --site-bg: #F8F7F4;
}


body {
    background-color: #F8F7F4;
    color: #1C1C1A;
    --secondary-color: #5A5A56;
}